<mat-toolbar color="primary">
  <button mat-button backButton><mat-icon>arrow_back</mat-icon></button> <span>Wartung</span>
</mat-toolbar>

<div class="cui-details">
    <table>
        <tr><th>Station</th><td>Dresden, Hauptstraße 1</td></tr>
        <tr><th>Gerät</th><td>Pumpe 002</td></tr>
    </table>



    <table >
      <tr><th>Zeitstempel</th><td>16:32:43 12.03.2020</td></tr>
      <tr><th>Fehler ID Code</th><td>#XXXXX</td></tr>
      <tr><th>Fehler Typ</th><td>#YYYYY</td></tr>
      <tr><th>Fehler Klasse</th><td>Wartung</td></tr>
      <tr><th>Fehler Priorität</th><td>hoch</td></tr>
    </table>
</div>
