<mat-toolbar color="primary">
  <span>Aufgaben</span>
</mat-toolbar>

<a class="cui-card-wrapper" routerLink="/task/1022">
    <mat-card class="cui-card">
        <mat-card-header class="cui-card-stoerung">
            <div mat-card-avatar class="example-header-image"><mat-icon>error</mat-icon></div>
            <mat-card-title>Störung #S.26.02.2020.1</mat-card-title>
            <mat-card-subtitle>Dresden, Schandauer Straße 12</mat-card-subtitle>
        </mat-card-header>
    </mat-card>
</a>

<a class="cui-card-wrapper" routerLink="/task/1022">
    <mat-card class="cui-card">
        <mat-card-header class="cui-card-stoerung">
            <div mat-card-avatar class="example-header-image"><mat-icon>error</mat-icon></div>
            <mat-card-title>Störung #S.26.02.2020.2</mat-card-title>
            <mat-card-subtitle>Dresden, Leipziger Straße 12</mat-card-subtitle>
        </mat-card-header>
    </mat-card>
</a>

<a class="cui-card-wrapper" routerLink="/task/1022">
    <mat-card class="cui-card">
        <mat-card-header class="cui-card-stoerung">
            <div mat-card-avatar class="example-header-image"><mat-icon>error</mat-icon></div>
            <mat-card-title>Störung #S.25.02.2020.1</mat-card-title>
            <mat-card-subtitle>Neustadt, Zum Rathaus 1</mat-card-subtitle>
        </mat-card-header>
    </mat-card>
</a>

<a class="cui-card-wrapper" routerLink="/task/2365">
    <mat-card class="cui-card">
        <mat-card-header class="cui-card-wartung">
            <div mat-card-avatar class="example-header-image"><mat-icon>build</mat-icon></div>
            <mat-card-title>Wartung #W.26.02.2020.1</mat-card-title>
            <mat-card-subtitle>Bautzen, Hauptstraße 8</mat-card-subtitle>
        </mat-card-header>
    </mat-card>
</a>

<a class="cui-card-wrapper" routerLink="/task/2365">
    <mat-card class="cui-card">
        <mat-card-header class="cui-card-wartung">
            <div mat-card-avatar class="example-header-image"><mat-icon>build</mat-icon></div>
            <mat-card-title>Wartung #W.26.02.2020.2</mat-card-title>
            <mat-card-subtitle>Zwickau, Winklerstraße 29</mat-card-subtitle>
        </mat-card-header>
    </mat-card>
</a>

<a class="cui-card-wrapper" routerLink="/task/2365">
    <mat-card class="cui-card">
        <mat-card-header class="cui-card-wartung">
            <div mat-card-avatar class="example-header-image"><mat-icon>build</mat-icon></div>
            <mat-card-title>Wartung #W.26.02.2020.2</mat-card-title>
            <mat-card-subtitle>Sachsenburg, Am Berg 4</mat-card-subtitle>
        </mat-card-header>
    </mat-card>
</a>
<a class="cui-card-wrapper" routerLink="/task/2365">
    <mat-card class="cui-card">
        <mat-card-header class="cui-card-wartung">
            <div mat-card-avatar class="example-header-image"><mat-icon>build</mat-icon></div>
            <mat-card-title>Wartung #W.25.02.2020.1</mat-card-title>
            <mat-card-subtitle>Moritzburg, Am Schloß 1</mat-card-subtitle>
        </mat-card-header>
    </mat-card>
</a>