<mat-toolbar color="primary">
  <span>Aufgaben</span>
</mat-toolbar>

<a class="cui-card-wrapper" routerLink="/task/1022">
    <mat-card class="cui-card-stoerung">
        <mat-card-header>
            <div mat-card-avatar class="example-header-image"><mat-icon>error</mat-icon></div>
            <mat-card-title>Störung #S.2020.1</mat-card-title>
            <mat-card-subtitle>Dresden, Schandauer Straße 12</mat-card-subtitle>
        </mat-card-header>
    </mat-card>
</a>

<a class="cui-card-wrapper" routerLink="/task/1022">
    <mat-card class="cui-card">
        <mat-card-header>
            <div mat-card-avatar class="example-header-image"><mat-icon>error</mat-icon></div>
            <mat-card-title>Störung</mat-card-title>
            <mat-card-subtitle>Dresden, Leipziger Straße 12</mat-card-subtitle>
        </mat-card-header>
    </mat-card>
</a>

<a class="cui-card-wrapper" routerLink="/task/2365">
    <mat-card class="cui-card-wartung">
        <mat-card-header>
            <div mat-card-avatar class="example-header-image"><mat-icon>build</mat-icon></div>
            <mat-card-title>Wartung #W.2020.1</mat-card-title>
            <mat-card-subtitle>Bautzen, Hauptstraße 8</mat-card-subtitle>
        </mat-card-header>
    </mat-card>
</a>
