<mat-toolbar color="primary">
    <span>Anlagen</span>
</mat-toolbar>

<a *ngFor="let site of sites" class="cui-card-wrapper" [routerLink]="['/site/' + site.id]">
    <mat-card class="cui-card">
        <mat-card-header>
            <div mat-card-avatar class="example-header-image">
                <mat-icon>home</mat-icon>
            </div>
            <mat-card-title>{{site.name}}</mat-card-title>
            <mat-card-subtitle [ngClass]="{
                'cui-card-status-ok': site.status=='OK',
                'cui-card-status-other': site.status != 'OK'&& site.status !='FAULTY',
                'cui-card-status-faulty': site.status == 'FAULTY' 
            }">{{site.status}}</mat-card-subtitle>
            <div class="card-right">
                <div *ngFor="let device of site.devices">
                    <div [ngSwitch]="device.status">
                        <div *ngSwitchCase="'OFF'">
                            <mat-icon style="color: grey; font-size:medium;">fiber_manual_record</mat-icon>
                        </div>
                        <div *ngSwitchCase="'OK'">
                            <mat-icon style="color: green; font-size:medium;">fiber_manual_record</mat-icon>
                            {{site.fillLevel}} 
                        </div>
                        <div *ngSwitchCase="'WARNING'">
                            <mat-icon style="color: orange; font-size:medium;">fiber_manual_record</mat-icon>
                        </div>
                        <div *ngSwitchCase="'FAULTY'">
                            <mat-icon style="color: red; font-size:medium;">fiber_manual_record</mat-icon>
                        </div>
                        
                    </div>
                </div>
            </div>
        </mat-card-header>
    </mat-card>
</a>


<mat-grid-list cols="2">
    <mat-grid-tile *ngFor="let site of sites">
        <a [routerLink]="['/site/' + site.id]">
            <mat-card class="cui-card">
                <mat-card-header>
                    <div mat-card-avatar class="example-header-image">
                        <mat-icon>home</mat-icon>
                    </div>
                    <mat-card-title>{{site.name}}</mat-card-title>
                    <mat-card-subtitle [ngClass]="{
                    'cui-card-status-ok': site.status=='OK',
                    'cui-card-status-other': site.status != 'OK'&& site.status !='FAULTY',
                    'cui-card-status-faulty': site.status == 'FAULTY' 
                }">{{site.status}}</mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                    <p *ngFor="let device of site.devices">
                        {{device.status}}
                    </p>
                </mat-card-content>
            </mat-card>
        </a>
    </mat-grid-tile>
</mat-grid-list>


<!--<a class="cui-card-wrapper" routerLink="/site/2365">
    <mat-card class="cui-card">
        <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>Anlage 2365</mat-card-title>
            <mat-card-subtitle>Bautzen, Hauptstraße 8</mat-card-subtitle>
        </mat-card-header>
    </mat-card>
</a>-->