<mat-toolbar color="primary">
  <span>Dashboard</span>
</mat-toolbar>

<!--<mat-icon svgIcon="thumps-up"></mat-icon>-->

<a class="cui-card-wrapper" routerLink="/task">
    <mat-card class="cui-card">
        <mat-card-header>
            <div mat-card-avatar class="example-header-image"><mat-icon>event_available</mat-icon></div>
            <mat-card-title>Aufgaben</mat-card-title>
            <mat-card-subtitle>Anstehende Aufgaben</mat-card-subtitle>
        </mat-card-header>
    </mat-card>
</a>

<a class="cui-card-wrapper" routerLink="/site">
    <mat-card class="cui-card">
        <mat-card-header>
            <div mat-card-avatar class="example-header-image"><mat-icon>check_box_outline_blank</mat-icon></div>
            <mat-card-title>Anlagen</mat-card-title>
            <mat-card-subtitle>Alle Anlagen</mat-card-subtitle>
        </mat-card-header>
    </mat-card>
</a>

<a class="cui-card-wrapper" routerLink="/map">
    <mat-card class="cui-card">
        <mat-card-header>
            <div mat-card-avatar class="example-header-image"><mat-icon>map</mat-icon></div>
            <mat-card-title>Standort</mat-card-title>
            <mat-card-subtitle>Aufgaben und Anlagen</mat-card-subtitle>
        </mat-card-header>
    </mat-card>
</a>

<a class="cui-card-wrapper" routerLink="/map">
    <mat-card class="cui-card">
        <!--<div *ngFor="let row of heatData" class="cui-heat-row">
            <div *ngFor="let n of row" class="cui-heat-cell">
                <div class="cui-heat-point" [ngClass]="{
                    'cui-heat-green': n >= 0.66 && n <= 1.0,
                    'cui-heat-yellow': n >= 0.33 && n < 0.66,
                    'cui-heat-red': n >= 0.00 && n < 0.33
                }"></div>
            </div>
        </div>-->
        <table class="cui-heat-table">
            <tr *ngFor="let row of heatData" class="">
                <td *ngFor="let n of row" class="" [ngClass]="{
                    'cui-heat-g9': n >= 0.88 && n <= 1.0,
                    'cui-heat-g8': n >= 0.77 && n < 0.88,
                    'cui-heat-g7': n >= 0.66 && n < 0.77,
                    'cui-heat-y6': n >= 0.55 && n < 0.66,
                    'cui-heat-y5': n >= 0.44 && n < 0.55,
                    'cui-heat-y4': n >= 0.33 && n < 0.44,
                    'cui-heat-r3': n >= 0.22 && n < 0.33,
                    'cui-heat-r2': n >= 0.11 && n < 0.22,
                    'cui-heat-r1': n >= 0.00 && n < 0.11
                }"></td>
            </tr>
        </table>
    </mat-card>
</a>

<!--<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>Devices</mat-card-title>
    <mat-card-subtitle>All devices</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
  <mat-card-content>
    <p>
      Text text text
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button>Show</button>
  </mat-card-actions>
</mat-card>-->
